@use "custom";

body{
  font-family: custom.$font-family;
  font-size: custom.$default-font-size;
  line-height: custom.$default-line-height;
  text-rendering: optimizeSpeed;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

%heading {
  font-family: custom.$font-family;
  line-height: 1;
}


h1{
  @extend %heading;
  font-weight: bold;
  font-size: 36px;
}

h2{
  @extend %heading;
  font-weight: bold;
  font-size: 32px;
}

h3{
  @extend %heading;
  font-weight: bold;
  font-size: 28px;
}

h4{
  @extend %heading;
  font-weight: bold;
  font-size: 24px;
}

h5{
  @extend %heading;
  font-weight: bold;
  font-size: 20px;
}
