label, .form-label{
  display: inline-block;
  line-height: 1;
  color: theme-color("primary");
  font-family: $font-family;
  font-size: 16px;
  margin: 0.6rem 0 !important;
  font-weight: bold;
}

.form-group{
  position: relative;
  .auxiliary-icon{
    position: absolute;
    top: 48px;
    right: 10px;
    .icon-error{
      color: theme-color("danger-dark");
    }
    .icon-success{
      color: theme-color("success-dark");
    }
    &.no-label{
      top: 13px;
    }
  }
}

.form-control{
  @include appearance(none !important);
  @include border-radius(0 !important);
  background: theme-color("field-bg-color") !important;
  width: 100%;
  height: 50px;
  font-family: $font-family;
  font-size: 16px !important;
  line-height: 1 !important;
  border: 1px solid theme-color("field-bg-color") !important;
  color: theme-color("field-color") !important;
  outline: 0;
  padding: 10px;
  resize: none;
  @include box-shadow(none);
  &:hover{
    background: theme-color-level("field-bg-color", 1) !important;
    &:read-only {
      background-color: theme-color("field-bg-color") !important;
    }
  }
  &:focus{
    background: theme-color-level("field-bg-color", 1) !important;
    &:read-only {
      background-color: theme-color("field-bg-color") !important;
    }
  }
  &:disabled{
    background: theme-color("field-bg-color") !important;
    cursor: not-allowed !important;
  }
  &.form-control-lg{
    height: 60px;
    font-size: 20px !important;
    &.no-input{
      padding: 20px 10px 0px 10px !important;
    }
  }
  &.form-control-sm{
    height: 30px;
    font-size: 12px !important;
  }
  &:focus {
    @include box-shadow(none !important);
  }
  &:read-only{
    &::placeholder {
      opacity: 0;
    }
  }

  &::placeholder {
    color: theme-color-level("field-color", -2) !important;
  }

  &.conceal{
    text-security:disc;
    -webkit-text-security:disc;
    font-family: 'dotsfont';
    &::placeholder {
      opacity: 0;
    }
  }

  &.textarea{
    height: 200px !important;
  }
  &.textarea-sm{
    height: 100px !important;
  }
}

.input-error{
  .form-control, .ember-basic-dropdown-trigger, .upload-field, .editor-tinymce{
    border: 1px solid theme-color("danger") !important;
  }
  .upload-drag-drop{
    border: 4px dashed theme-color("danger") !important;
  }
  .input-error-hint{
    font-family: $font-family;
    font-size: 14px;
    line-height: 1.5;
    color: theme-color("danger");
    margin: 0 !important;
    &:first-letter{
      text-transform: capitalize;
    }
  }
}

.input-success{
  .input-success-hint{
    font-family: $font-family;
    font-size: 12px;
    line-height: 1.5;
    color: theme-color("success");
    &:first-letter{
      text-transform: capitalize;
    }
  }
}

.input-group{
  .input-group-prepend, .input-group-append{
    .input-group-text{
      @include border-radius(0 !important);
      background: theme-color("field-bg-color") !important;
      border: 1px solid theme-color("field-bg-color") !important;
      @include box-shadow(none);
      font-family: $font-family;
      font-size: 16px !important;
      line-height: 1 !important;
      font-weight: bold;
      color: theme-color("primary");
    }
    .btn{
      padding: 0.95em 1.5em 0.85em 1.5em !important;
    }
  }
  .selector-generic, .selector-apps, .selector-countries, .selector-date, .selector-models, .selector-multiple, .selector-placeholders{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
  }
}


