@use "mixins";
@use "bootstrap";

#loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img{
    max-width: 250px;
  }
  div{
    width: 250px;
    font-size: 18px;
    font-weight: bold;
    &:after {
      overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      -webkit-animation: ellipsis steps(4,end) 900ms infinite;
      animation: ellipsis steps(4,end) 900ms infinite;
      content: "\2026"; /* ascii code for the ellipsis character */
      width: 0;
    }
  }
  @keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }

  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }
}

.loader{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.main-content{
  padding-top: 84px;
}

.minimal-link{
  text-decoration: none;
}

.remove-item{
  position: absolute;
  width: 20px;
  height: 20px;
  text-decoration: none;
  line-height: 1;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
  border: none !important;
  @include mixins.border-radius(100%);
}

.input-field-width{
  width: 25% !important;
}

@include bootstrap.media-breakpoint-down(md) {
  .main-content{
    padding-bottom: 60px;
  }
  .input-field-width{
    width: 50% !important;
  }
}
