{{#if @items.length}}
  <span
    class='position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger'
    ...attributes
  >
    {{@items.length}}
    <span class='visually-hidden'>products in cart</span>
  </span>
{{/if}}