.alert{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  line-height: 1;
  font-size: 12px;
  font-family: $font-family;
  @include border-radius(0 !important);

  .icon{
    margin-right: 10px;
  }

  .alert-header{
    line-height: 1.1;
    font-size: 14px;
    display: block;
    font-family: $font-family;
    font-weight: bold;
  }

  &.alert-success{
    border: none;
    background: theme-color("success") !important;
    color: color-yiq(theme-color("success")) !important;
    a{
      color: color-yiq(theme-color("success")) !important;
      text-decoration: none;
      border-bottom: 1px solid color-yiq(theme-color("success"));
      &:hover{
        border-bottom: none;
      }
    }
  }
  &.alert-danger{
    border: none;
    background: theme-color("danger") !important;
    color: color-yiq(theme-color("danger")) !important;
    a{
      color: color-yiq(theme-color("danger")) !important;
      text-decoration: none;
      border-bottom: 1px solid color-yiq(theme-color("danger"));
      &:hover{
        border-bottom: none;
      }
    }
  }
  &.alert-warning{
    border: none;
    background: theme-color("warning") !important;
    color: color-yiq(theme-color("warning")) !important;
    a{
      color: color-yiq(theme-color("warning")) !important;
      text-decoration: none;
      border-bottom: 1px solid color-yiq(theme-color("warning"));
      &:hover{
        border-bottom: none;
      }
    }
  }
  &.alert-info{
    border: none;
    background: theme-color("info") !important;
    color: color-yiq(theme-color("info")) !important;
    a{
      color: color-yiq(theme-color("info")) !important;
      text-decoration: none;
      border-bottom: 1px solid color-yiq(theme-color("info"));
      &:hover{
        border-bottom: none;
      }
    }
  }
}
