.badge{
  padding: 8px 15px 8px 15px !important;
  font-size: 14px !important;
  font-weight: bold !important;

  &.badge-as-tag, &.badge-as-segment{
    position: relative;
    padding: 11px 15px 11px 25px !important;
    &:before{
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      top: 14px;
      left: 10px;
      @include border-radius(100%);
    }
    &.badge-primary{
      &:before{
        background: color-yiq(theme-color("primary"));
      }
    }
  }
}
