.modal{
  .modal-content{
    border: none !important;
    border-radius: 0 !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
    .modal-body{
      .card{
        border: 1px solid theme-color("light") !important;
        box-shadow: none !important;
      }
    }
  }
}
