@use "../bootstrap";
@use "../mixins";

.add-to-home{
  position: fixed;
  width: 100%;
  z-index: 1500;
  bottom: -20px;
  .banner{
    position: relative;
    border: 5px solid bootstrap.$body-bg;
    padding: 10px 15px;
    background: bootstrap.$body-bg;
    max-width: 400px;
    width: 90vw;
    margin: 2em auto;
    text-align: center;
    @include mixins.border-radius(10px);
    &::before{
      content: '';
      position: absolute;
      display: block;
      width: 0;
      left: 50%;
      bottom: 0;
      border: 15px solid transparent;
      border-bottom: 0;
      border-top: 15px solid bootstrap.$body-bg;
      transform: translate(-50%, calc(100% + 5px));
    }
    .text{
      font-size: 14px;
      font-weight: 600;
    }
    svg{
      width: 30px;
      color: bootstrap.$body-color;
    }
    .close-button{
      position: absolute;
      top: -5px;
      right: -5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      font-weight: bold;
      font-size: 20px;
      @include mixins.border-radius(100%);
      background: bootstrap.$body-bg;
      color: bootstrap.$body-color;
      line-height: 1;
      z-index: 1;
      cursor: pointer;
      text-decoration: none;
      border: none;
    }
  }
}


@include bootstrap.color-mode(dark) {
  .add-to-home {
    .banner{
      border: 5px solid bootstrap.$body-bg-dark;
      background: bootstrap.$body-bg-dark;
      &::before{
        border-top: 15px solid bootstrap.$body-bg-dark;
      }
      svg{
        color: bootstrap.$body-color-dark;
      }
      .close-button{
        background: bootstrap.$body-bg-dark;
        color: bootstrap.$body-color-dark;
      }
    }
  }
}
