.inbox-row{
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .inbox-row-opened{
    width: 10px;
    height: 10px;
    @include border-radius(100%);
  }
  .inbox-row-attachment{
    max-width: 150px;
  }
}

@include media-breakpoint-down(md) {
  .inbox-row{
    .inbox-row-attachment{
      max-width: 80px;
    }
  }
}
