.navigation{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  z-index: 1;
  .nav-area{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
      width: 150px;
      img{
        max-width: 100%;
      }
    }
    .buttons{
      .button{
        position: relative;
        display: inline-block;
        font-weight: bold;
        font-size: 18px;
        padding: 5px 10px;
        margin-right: 10px;
        color: $black;
        text-decoration: none;
        &:hover{
          color: $gray-900;
        }
        &.active{
          text-decoration: underline;
        }
      }
    }
  }
}

@include color-mode(dark) {
  .navigation {
    .nav-area{
      .buttons{
        .button{
          color: $white;
          &:hover{
            color: $gray-200;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .navigation{
    height: 84px;
    .nav-area {
      .logo {
        width: 135px;
      }
      .buttons{
        .desktop{
          display: none;
        }
      }
    }
  }
}
