@use "../bootstrap" as bootstrap;

.tabs{
  display: none;
}

@include bootstrap.color-mode(dark) {
  .tabs {
    .buttons{
      .button{
        color: bootstrap.$white;

        &:hover{
          color: bootstrap.$gray-200;
        }

        &.active{
          background: bootstrap.$body-bg-dark;
        }
      }
    }
  }
}


@include bootstrap.media-breakpoint-down(md) {
  .tabs{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1;

    .buttons{
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      .button{
        width: 33.3%;
        display: inline-block;
        color: bootstrap.$black;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 8px 0;

        &:hover{
          color: bootstrap.$gray-900;
        }

        &.active{
          background: bootstrap.$body-bg;
        }

        .button-text{
          margin-top: 5px;
          font-size: 14px;
        }
      }
    }
  }
}
