.tabs{
  display: none;
}

@include color-mode(dark) {
  .tabs {
    .buttons{
      .button{
        color: $white;
        &:hover{
          color: $gray-200;
        }
        &.active{
          background: $body-bg-dark;
        }
      }
    }
  }
}


@include media-breakpoint-down(md) {
  .tabs{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 1;
    .buttons{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .button{
        width: 33.3%;
        display: inline-block;
        color: $black;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        padding: 8px 0;
        &:hover{
          color: $gray-900;
        }
        &.active{
          background: $body-bg;
        }
        .button-text{
          margin-top: 5px;
          font-size: 14px;
        }
      }
    }
  }
}
