@use "../bootstrap" as bootstrap;
@use "../mixins";

.user-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  .user-row-image{
    width: 100px;
    height: 100px;
    @include mixins.border-radius(100%);
  }
}

.user-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  .user-box-image{
    width: 200px;
    height: 200px;
    @include mixins.border-radius(100%);
  }
}

@include bootstrap.media-breakpoint-down(md) {
  .anonymous{
    flex-direction: column;
    .btn{
      margin-top: 15px;
    }
  }
  .user-row{
    .user-row-image{
      width: 50px;
      height: 50px;
    }
  }
}
