<div class="list-group mb-5">
  <div class="user-box">
    <Gravatar
      class="user-box-image me-2"
      @userId={{@device.userId}}
      @size="400"
    />
    <div class="text-center p-3">
      <h4>{{@device.userName}}</h4>
      <p class="mb-0">{{@device.userId}}</p>
    </div>
  </div>
</div>